:root {
    --title-color: #30180c;
    --background-color: #170a06;
    --border-color: #7a4530;
    --primary-text-color: #919191;
    --secondary-text-color: #cfcfcf;
    --button-color: #492d1f;
    --accent-color: #625246;
    --focus-color: #220f00;
}