:root {
    --title-color: #B85C38;
    --background-color: #6b5246;
    --border-color: black;
    --primary-text-color: #E0C097;
    --secondary-text-color: #ffffff;
    --button-color: #5C3D2E;
    --accent-color: #e0723f;
    --focus-color: #c48664;
}