/*
    Palette:
    402c2c - darkest
    5C3D2E - brown
    6b5246 - light brown
    B85C38 - orange
    E0C097 - biege
*/

:root {
    --title-color: #B85C38;
    --primary-text-color: #ffffff;
    --secondary-text-color: #E0C097;
    --button-color: #5C3D2E;
    --hover-color: #75503d;
    --active-color: #824626;
    --focus-color: #c48664;
    --background-color: #6b5246;
    --border-color: black;
}